<!DOCTYPE HTML>
<html>
	<head>
		<title>Stock Price Forecast</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Nav -->
								<nav>
									<ul class="actions">
										<li><a href="https://seanmulherin.github.io/" class="button large">HOME</a></li>
									</ul>		
								</nav>
						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="https://seanmulherin.github.io/">Home</a></li>
						<li><a href="https://seanmulherin.github.io/blog.html">Blog</a></li>
						<li><a href="https://seanmulherin.github.io/neuralnetwork.html">Artificial Neural Network</a></li>
						<li><a href="https://seanmulherin.github.io/carbonization.html">Carbonization Analysis</a></li>
						<li><a href="https://seanmulherin.github.io/breastcancer.html">Breast Cancer Detection</a></li>
						<li><a href="https://seanmulherin.github.io/modelingEth.html">Modeling Ethereum</a></li>
						<li><a href="https://seanmulherin.github.io/lectures.html">Lecture Notes</a></li>
						<li><a href="https://seanmulherin.github.io/papers.html">Papers</a></li>
						<li><a href="https://seanmulherin.github.io/resume.html">Resume</a></li>
                        <li><a href="https://seanmulherin.github.io/thesis.html">Thesis</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Forecasting Closing Prices of Financial Equities</h1>
							<center><img src="/static/css/nyc.jpg" width="800" alt="" /></center>
							<h4>March 28, 2024</h4>
							 <p>
                                Hi team,<br>
                                The data we will be using is generously provided by Yahoo Finance. We will look at the closing price of 
                                equities by day. The data availible varies depending on the equity's maturity. The goal is to fit a forecasting 
                                model to predict the trend for equities of personal interest; we will utilize the Prophet Model to do so.
                                Most notably, I've created an interface for you to input your ticker symbol and forecast length so that you can observe
                                and explore the forecasted trends and prediction metrics computed by the Prophet model. You can look up ticker symbols 
								<a href="https://ca.finance.yahoo.com/lookup/" target="_blank">here</a>.
								<br><br>
								This model is notorious for its accuracy and flexibility. However, the volatility of closing prices vary depending on the equity itself, 
								so the responsible user will invoke their personal judgement and use this merely as a tool to compliment (or contradict) their personal claims.
								 <br><br>
								 Note: I limitted the start date to 5 year prior in order to help mitigate computational cost with the added benefit of predictive accuracy. 
								 Although you may ask the model to forecast far into the future, I recommend looking at more immediate forecasts using small time intervals such as 
								 days and months.
								 You will notice, the farther into the future the model predicts, the wider the uncertainty invterval is, indicating less reliable predictions. 
                             </p>

							
							<form id="nameForm" action="/forecast" method="POST">
								<div class="row gtr-uniform">
									<div class="col-4 col-12-xsmall">
										<input type="text" name="ticker" id="ticker" value="" placeholder="Ticker Symbol" required/>
									</div>

									<div class="col-4 col-12-xsmall">
										<input type="text" name="period" id="period" placeholder="Forecast Period (# of future years to predict)" required/>
									</div>

									<div class="col-4">
										<select name="period_unit" id="period_unit" required>
											<option value="">- Unit -</option>
											<option value="day">Day(s)</option>
											<option value="month">Month(s)</option>
											<option value="year">Year(s)</option>
										</select>
									</div>



								</div>

								<br><br>
								<button type="submit">Submit</button>
								<div id="output"></div>


							</form>

						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<section>
							<h2>Contact Me</h2>
							<p><strong>Email: </strong>smulherin519@gmail.com<br><strong>Location: </strong>Los Angeles, CA</p>
						</section>
						<section>
							<h2>Follow</h2>
							<ul class="icons">
								<li><a href="https://www.linkedin.com/in/sean-mulherin-93640913a/" target="_blank"><span class="label">Linkedin</span></a></li>
								<li><a href="https://github.com/SeanMulherin" target="_blank"><span class="label">GitHub</span></a></li>
							</ul>
						</section>
						<ul class="copyright">
							<li>&copy; Sean Mulherin. All rights reserved</li>
						</ul>
					</div>
				</footer>

			</div>


	</body>
</html>
